//globals

body {
    font-family: $roboto;
}

p {
    font-size: $small;
    color: $Nickel;
}

img {
    width: 100%;
}

svg {
    width: 80px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;

}

.separacion {
    margin-bottom: 20px;
    margin-top: 20px;
}