// colors

$White: #fff;
$Platinum: #e6e7e7;
$Light-gray: #d1d1d1;

$Fuzzy-wuzzy: #e56353;
$Ruddy-pink: #d76c69;
$Spanish-pink: #ecbcba;

$Eerie-black: #121619;
$Raisin-black: #222323;
$Nickel: #6c6e70;


// font size

$xx-large: 80px;
$x-large: 50px;
$large: 30px;
$medium: 16px;
$small: 12px; 


